@import "../styles/variables.css";

.root {

}

.title {
  extends: title from "../styles/type.css";
  font-family: $sans-serif;
}

.uri {
  extends: subtitle from "../styles/type.css";
  font-size: 0.9em;
}

.relativeUri {
  font-weight: 600;
  color: $base-font-color;
}

.description {
  font-size: 14px;
}
