.title {
  extends: title from './Resource.css';
}

.uri {
  extends: uri from './Resource.css';
}

.relativeUri {
  extends: relativeUri from './Resource.css';
}

.children {
  margin-top: 1.5em;
}

.description {
  extends: description from './Resource.css';
}
