@import "./variables.css";

.title {
  font-family: $serif;
}

.borderedTitle {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 0.75em;
}

.subtitle {
  color: $text-muted;
  font-weight: 300;
}

.sectionTitle {
  extends: borderedTitle;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  color: $text-muted;
}
