
$sans-serif: "Open Sans", sans-serif;
$serif: "Roboto Slab", serif;

/* Typography */
$base-font-family: $sans-serif;
$heading-font-family: $base-font-family;

/* Font Sizes */
$base-font-size: 1em;

/* Line height */
$base-line-height: 1.5;
$heading-line-height: 1.2;

/* Other Sizes */
$base-border-radius: 3px;
$base-spacing: calc($base-line-height * 1em);
$small-spacing: calc($base-spacing / 2);
$base-z-index: 0;

/* Colors */
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #eee;

/* Font Colors */
$base-font-color: $dark-gray;
$action-color: $blue;
$text-muted: #999;

/* Border */
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

$medium-screen: 640px;
$large-screen: 860px;
