@import "../../styles/variables.css";

.root {

  @include clearfix;

  text-align: left;

  h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p, ul {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  h1 {
    font-family: $serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 0.6em;

    @include media($medium-screen) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.2em;

    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }

  pre {
    background: #F7F7F7;
    border-radius: calc($base-border-radius * 1.5);
    border: 1px solid #E0E0E0;
    font-style: normal;
    padding: 1em;
    margin-bottom: 1.5em;
    overflow: scroll;
  }

  h3 {
   font-family: $serif;
   font-size: 1em;
   font-weight: 600;
   line-height: 1.4em;
   margin-bottom: 0.5em;
   text-transform: uppercase;
  }

  p, ul {
    font-family: $serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em;
  }

  hr {
    width: 3em;
  }

}
